body {
    width: 100vh;
    height: 99vh;
    background-image: url(/img/bac.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    font-family: 'poppins';
}



a{
    text-decoration: none;
    
}
.header{    
    display:flex;
    width:1230px;
    height:75px;
}

.header__logo{
    margin: 163px;
    margin-top: 16px;
}

.header__menu{
    margin: 163px;
    margin-left: 700px;
    margin-top: 16px;
}

.verhtxt {
    color: aliceblue;
    text-align: left;
    margin-top: 182;
    margin: 163;
}

.verhtxt1 {
    color: aliceblue;
    text-align: left;
    font-size: 14px;
    margin: 163px;
    margin-top: 80px;
    margin-bottom: 22px;

}

.verhtxt2 {
    color: aliceblue;
    text-align: left;
    font-size: 60px;
    margin: 163px;
    margin-bottom: 24px;
    margin-top: 22px;
    height: 400px;
    width: 600px;
}

.verhtxt3 {
    color: aliceblue;
    text-align: left;
    font-size: 16px;
    margin: 163px;
    margin-top: -130px;
}

.verhtxt4 {
    color: #ffd723;
    text-align: left;
    font-size: 16px;
    text-decoration: underline;
    margin: 163px;
    margin-top: -100px;
}

.hz {
    color: #4d533c;
    font-size: 36px;
    margin: 163px;
    margin-top: 350px;
    width: 600px;
}

.tablosn{
    display: flex;
    width: 1250px;
    height: 300px;
    margin-left: 180px;
    margin-top: -100px;
    justify-content: center;
}

.zaglav{
    font-size: 24px;
    font-weight: 500;
    color: #4d533c;

}

.vt{
    color: #213842;
    font-size: 14px;
}

.sc{
    color: #d4d6d8;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}

.sc1{
    color: #ffd723;
}

.t2{
    padding-left: 100px;
}

.t3 {
    padding-left: 100px;
}

.t4{
    padding-left: 100px;
}

.zaglav1{
    font-weight: 800;
}

.body_style{
    background-color: pink;
    color:brown;
}
